.body{
    background-color:rgb(39, 39, 39);
}

.content {
    width: 880px;
    display: block;
    margin-left: auto;
    margin-right: auto ;
    background-color: rgb(39, 39, 39);
}

.news-block {
    overflow: auto;
    word-wrap: break-word;
    margin-top: 10px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 4px;
}

.day {
    background: #4a4a4a;
    text-align: center;
    margin: 10px 0 10px 0;
    height: 30px;
    font-size: 13pt;
    line-height: 30px;
    border-radius: 3px;
    color: white;
    width: 826px;
    margin-left: 7px;
}

.test {
    border-collapse: separate;
    border-spacing: 8px;
}

table {
    background-color: transparent;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.goodcell {
    position: relative;
}

td, th {
    padding: 0;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

a {
    color: #337ab7;
    text-decoration: none;
    background-color: transparent;
}



.schedule-anime-desc{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(39, 39, 39);
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
}

.schedule-anime-desc > span {
    display: block;
}

.schedule-runame {
    font-size: 13pt;
    line-height: 13pt;
    margin-bottom: 5px;
    font-weight: bold;
}

.schedule-series {
    font-size: 12pt;
    margin-bottom: 40px;
}

.goodcell img {
    border: 3px solid #4a4a4a;
    border-radius: 3px;
    vertical-align: middle;
    width: 200;
    height:280;
}

/* img {
    vertical-align: middle;
    width: 200;
    height:280;
} */