
*{
  background-color: rgb(39, 39, 39);
	margin: 0;
	padding: 0;
}


body{
	min-width: 1200px;
    max-width: auto;
    margin: 0 auto;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}


