.header {
    height: 215px;
    background: url(./img/h3.jpg);
    background-repeat: no-repeat;
}

p {
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    float: right;
    font-size: 50px;
    font-family: "Arial Black", Gadget, sans-serif;
    color: rgb(39, 39, 39);
}